In [2]:
import pandas as pd

In [4]:
dados = pd.read_csv('dados\clientes.csv', sep= ';')
dados

,Id,Idade,Sexo,Estado Civil,Sinistros,Prêmio,Categoria,Desconto
0,1,64,M,viuvo,0.0,774.464232,Sênior,697.017809
1,2,34,F,divorciado,7.0,1411.800897,Adulto,1411.800897
2,3,84,F,divorciado,2.0,803.922742,Sênior,803.922742
3,4,42,F,casado,2.0,1142.005576,Adulto,1142.005576
4,5,20,M,casado,NaN,940.051137,Jovem,940.051137
...,...,...,...,...,...,...,...,...
9995,9996,79,F,casado,NaN,975.383433,Sênior,975.383433
9996,9997,65,F,divorciado,0.0,1143.553683,Sênior,1029.198314
9997,9998,18,M,casado,1.0,1028.185036,Jovem,1028.185036
9998,9999,104,F,viuvo,2.0,813.078427,Sênior,813.078427
9999,10000,90,M,casado,2.0,809.741555,Sênior,809.741555

In [10]:
#Informações de cada coluna e o tamanho da base de dados
dados.info()
len(dados)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            10000 non-null  int64
 1   Idade         10000 non-null  int64
 2   Sexo          10000 non-null  object
 3   Estado Civil  10000 non-null  object
 4   Sinistros     8949 non-null   float64
 5   Prêmio        10000 non-null  float64
 6   Categoria     10000 non-null  object
 7   Desconto      10000 non-null  float64
dtypes: float64(3), int64(2), object(3)
memory usage: 625.1+ KB

10000

In [13]:
dados.Sinistros.fillna(0, inplace=True)
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            10000 non-null  int64
 1   Idade         10000 non-null  int64
 2   Sexo          10000 non-null  object
 3   Estado Civil  10000 non-null  object
 4   Sinistros     10000 non-null  float64
 5   Prêmio        10000 non-null  float64
 6   Categoria     10000 non-null  object
 7   Desconto      10000 non-null  float64
dtypes: float64(3), int64(2), object(3)
memory usage: 625.1+ KB

In [15]:
dados=dados.round({'Prêmio':2,'Desconto':2, 'Sinistros':0})

In [16]:
dados.drop(['Desconto'], axis=1, inplace=True)

In [17]:
dados = dados.sort_values(by='Idade')
dados.head(10)

        Id  Idade Sexo Estado Civil  Sinistros   Prêmio Categoria
8549  8550     18    F        viuvo        7.0  1096.77     Jovem
4416  4417     18    F        viuvo        0.0   913.23     Jovem
1274  1275     18    F   divorciado        2.0  1062.88     Jovem
1884  1885     18    F       casado        5.0  1086.89     Jovem
4699  4700     18    M        viuvo        1.0  1126.91     Jovem
5906  5907     18    F        viuvo        6.0  1084.54     Jovem
6782  6783     18    F   divorciado        3.0   965.59     Jovem
1846  1847     18    F        viuvo        3.0   964.91     Jovem
556    557     18    M   divorciado        1.0  1151.31     Jovem
4419  4420     18    M        viuvo        3.0  1029.51     Jovem